<style>
#contentarea {min-height:900px;text-align:center;padding-left: 0px;}
#contentrow {min-height:700px;border:1px solid black;}
#content-left-div {min-height:600px;margin-left:0px;border:1px solid black;}
#content-right-div {min-height:350px;float:right;border:1px solid black;}
#postcolumn {float:right;border-right:1px solid #eee;}
</style>


<div class="container" style="background-color: #EEE;">
      <div class="content">
        <div class="page-header">
        </div>
        <div class="row">          
	  <div class="span14" id="contentarea">
	    <%= image_tag('hindsight.png')%>
<!--	   Render Area for all Content-->
	      <h2>Content Area</h2>
	      <div class="row" id="contentrow">
		<div class="span8" id="content-left-div">content div
		</div>
		<div class="span6" id="content-right-div">content div
		</div>
	    </div>
<!--	    <center><h1> Site Content Area</h1></center> -->
	  </div>
          <div class="span6" id="postcolumn">
<!--	    <%= link_to "Search", tags_path, :class => 'btn pull-right', :style => 'margin-right:10px;color: blue;', :remote => true %>-->
	    <%= link_to "New Post", new_user_post_path(@user), :class => 'btn success pull-right', :style => 'margin-right:10px;color:#FFF;', :remote => true if current_user%>
            <h2>Post Listings</h2>
	    <div class="row" id="postlist">
	      <%= render :partial => 'postlist'%>
	    </div>
          </div>

	</div>
      </div>

      <footer>
        <p>&copy; HindSight 2011</p>
      </footer>
</div>

<script>
$("#srch").click(function () {
$('#postcolumn').replaceWith(function() {
  return $('#search1').fadeIn(2500);
})
});
</script>
